/**/
/* defaults */
/**/
.sky-tabs > label:hover span span {
	background: #43bf43;
}
.sky-tabs > input:checked + label span span {
	background: #43bf43;
}
.sky-tabs > .active span span {
	background: #43bf43 !important;	
}