/**/
/* defaults */
/**/
.sky-tabs > label:hover span span {
	background: #ad3bc4;
}
.sky-tabs > input:checked + label span span {
	background: #ad3bc4;
}
.sky-tabs > .active span span {
	background: #ad3bc4 !important;	
}